/* Name: */
/* Project Name: */
/* Module Name: */
/* Module Purpose: */
/* Description: */
/* Collaborators: */
/* Sources: */
/* Date: */
/* Last Modified: */



@font-face{
    font-family:'ElmsSans';
    src: url("fonts/ElmsSans-VariableFont_wght.ttf") format("truetype");

}


*{
 
    font-family: "ElmsSans";
    text-align: center;

}

.buttons{
    font-size: 30px;
    font-weight: bolder;
    color:rgb(255, 255, 0);
    background-color: rgba(168, 168, 149, 0.545);
    border-radius: 10px;
    margin-left:2.5px;
    margin-right:2.5px;
    transition: background-color 0.3s ease;
}

.buttons:hover{
    background-color: rgba(186, 186, 180, 0.84);

}

#time_display{
    color:yellow;
    font-size: 70px;
    font-weight: bold;
    margin-top:230px
}



#laps_container{
    width: 550px;
    height:250px;
    color:rgba(255, 255, 0, 0.847);
    background-color: rgba(118, 118, 114, 0.545);
    
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    overflow:scroll;
    transition: background-color 0.3s ease;
}

#laps_container:hover{
    background-color: rgba(186, 186, 180, 0.84);

}

p{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 1%;
 
}

body{
    
    background-image: url("images/daytime-forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

