/* Name: */
/* Project Name: */
/* Module Name: */
/* Module Purpose: */
/* Description: */
/* Collaborators: */
/* Sources: */
/* Date: */
/* Last Modified: */






*{
    text-align: center;

}



body{
    background-image: url("images/daytime-forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}