/*Name: Ryan Pereira */
/*Project Name: Simple Recipe 2 */
/*Description: This is a simple cSSL page for styling of the simple recipe. */
/*Collaborators: None */
/*Sources: Github Copilot, Stack Overflow, ChatGPT, HTML documentation */
/*Date: 4/15/2026*/
/*Last Modified: 4/15/2026*/







/*Specifying css properties for body element*/
body{
    background-color: #FFDAB3;
}


/*Specifying css properties for img element*/
img{
    width:500px;
    height:500px;
    border:5px dashed black;
    display:block;
    margin:0 auto;
    
}



/*Specifying css properties for heading 2 element*/
h2{
    color:#574964;
    text-align:center;
}

/*Specifying css properties for list element*/
li{
    color:#9F8383;

}

/*Specifying css properties for universal selector*/
*{
    padding-top:5px;
}

/*Specifying css properties for heading 1 element*/
h1{
    text-align:center;
}