
body{
    background-image: url("images/backgrounds/nature_background.jpg");
    background-size:cover;
}
h1{
    text-align: center;
}



.animal_gallery_image_container{
    display:inline-block;
    margin:30px;
    text-align:center;
    background-color:teal;
    height: 300px;
    width:350px;
}



.animal_image {
    height:200px;
    width:250px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

#alligator_image{
    background-image: url("images/still/alligator_still.jpg");
    background-size:cover;
}


#alligator_image:hover{
    background-image: url("images/moving/alligator_gif.gif");
    background-size:cover;
}


#bear_image{
    background-image: url("images/still/bear_still.jpg");
    background-size:cover;
}

#bear_image:hover{
    background-image: url("images/moving/bear_moving.gif");
    background-size:cover;

}

#cat_image{
    background-image: url("images/still/cat_still.jpg");
    background-size:cover;
}

#cat_image:hover{
    background-image: url("images/moving/blackcat_moving.gif");
    background-size:cover;
}

#dog_image{
    background-image: url("images/still/dog_still.jpg");
    background-size:cover;
}

#dog_image:hover{
    background-image: url("images/moving/dog_moving.gif");
    background-size:cover;
}


#elephant_image{
    background-image: url("images/still/elephant_still.jpg");
    background-size:cover;
}

#elephant_image:hover{
    background-image: url("images/moving/elephant_moving.gif");
    background-size:cover;
}

#fox_image{
    background-image: url("images/still/fox_still.jpg");
    background-size:cover;
}

#fox_image:hover{
    background-image: url("images/moving/fox_moving.gif");
    background-size:cover;
}

#giraffe_image{
    background-image: url("images/still/giraffe_still.jpg");
    background-size:cover;
}

#giraffe_image:hover{
    background-image: url("images/moving/giraffe_moving.gif");
    background-size:cover;
}

#horse_image{
    background-image: url("images/still/horse_still.jpg");
    background-size:cover;
}

#horse_image:hover{
    background-image: url("images/moving/horse_moving.gif");
    background-size:cover;
}

#iguana_image{
    background-image: url("images/still/iguana_still.jpg");
    background-size:cover;
}

#iguana_image:hover{
    background-image: url("images/moving/iguana_moving.gif");
    background-size:cover;
}

#jaguar_image{
    background-image: url("images/still/jaguar_still.jpg");
    background-size:cover;
}

#jaguar_image:hover{
    background-image: url("images/moving/jaguar_moving.gif");
    background-size:cover;
}

#kangaroo_image{
    background-image: url("images/still/kangaroo_still.jpg");
    background-size:cover;
}

#kangaroo_image:hover{
    background-image: url("images/moving/kangaroo_moving.gif");
    background-size:cover;
}


#lion_image{
    background-image: url("images/still/lion_still.jpg");
    background-size:cover;
}

#lion_image:hover{
    background-image: url("images/moving/lion_moving.gif");
    background-size:cover;
}

